<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <org.jenkinsci.plugins.registry.notification.DockerHubTrigger plugin="dockerhub-notification@2.4.0">
      <spec></spec>
      <options class="vector">
        <org.jenkinsci.plugins.registry.notification.opt.impl.TriggerForAllUsedInJob/>
        <org.jenkinsci.plugins.registry.notification.opt.impl.TriggerOnSpecifiedImageNames>
          <repoNames>
            <string>misterpremium/jboss-amq-63</string>
          </repoNames>
        </org.jenkinsci.plugins.registry.notification.opt.impl.TriggerOnSpecifiedImageNames>
      </options>
    </org.jenkinsci.plugins.registry.notification.DockerHubTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>ssh pi@192.168.1.55 sudo docker pull misterpremium/jboss-amq-63
ssh pi@192.168.1.55 sudo docker run -p 8161:8161 -p 61616:61616 misterpremium/jboss-amq-63</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>